<!DOCTYPE html>
<html lang="en">
<head>
      {% include "model-header.html" %}


</head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">

    <body style="background-color: #FAFAFA; font-family: 'Nunito Sans', sans-serif; padding-top: 50px;
        max-width: 500px; margin: auto; -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21 );
 -moz-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21 ); " >
        <div align="left" >

            {% block content %} {% endblock %}
            {%include "model-footer.html" %}
        </div>
    </body>


</html>