    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=chrome">
    <title>Cadastro</title>
    <meta name="descriotion" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <div align="write; display: flex; justify-contente: space-between; color: #fff; padding: 10 px;
            border-radius: 5px 5px 0 0; background: linear-gradiente(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100% )" >
            <h1>Bem vindo,{{usuario|title}}</h1>
            <a href="/logout"><button  type="submit" >logout</button></a>
        </div>

